# Build relics
*.class
mpmp/bin

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Secret Files
secrets.md

# Eclipse stuff
.metadata
.recommenders

# Netbeans stuff
/mpmp/nbproject/private/
/mpmp/build/
/mpmp/dist/

/mpmp-launcher/nbproject/private/
/mpmp-launcher/build/
/mpmp-launcher/dist/

/mpmp-client/nbproject/private/
/mpmp-client/build/
/mpmp-client/dist/

#batik-Files
!mpmp-client/lib/*
!mpmp-client/lib/*.jar

# Gimp stuff (file size >30 MB)
*.xcf